<div class="file" id="fileid_{{file_id}}">
    <a href="{{file_name}}">
    <img src="{{base_path}}/Thumbs/{{partial_path}}/{{thumb_name}}"
         alt="[{{base_name}}]"
         title="[{{base_name}}]">
    <br>	 
    </a>
    <br>
    <a href="{{base_path}}/Text/{{partial_path}}/{{text_name}}">
    [text]
    </a>
<div>
