/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* Reset first */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Actual styling below */


body  {background-color: #ffffff;
       font-family:"Arial","Verdana",sans-serif;
      }
table { border-collapse:collapse;
        text-align: left; }
tr.alt {background-color: #e0e0e0;
        font-family:"Arial","Verdana",sans-serif;}
tr.base {background-color: #ffffff;
         font-family:"Arial","Verdana",sans-serif;}
h1 { font-variant:small-caps;
     font-family:"Arial","Verdana",sans-serif;
     font-size:"xx-large"; font-weight:"bold";
     line-height:"2.5";}
h2 { font-variant:small-caps;
     font-family:"Arial","Verdana",sans-serif;
     font-size:"x-large"; font-style:"italic";
     line-height: "1.5";}

# New non-html-table index stuff 

.csstable {
    display: table;
    table-layout: fixed;
    word-wrap: break-word;
    width: 100%;
}

.csstable div {
    word-wrap: break-word;
    float: left;
    text-align: center;
}

.csstable div.shaded {
    background-color: #e0e0e0;
}

#filelist {
    width: 100%;
}

#dirlist {
    width: 100%;
}

.pdffile {
    display: table-cell;
    word-wrap: break-word;
    table-layout: inherit;
    width: 180px;
    height: 170px;
}

.dir {
    display: table-cell;
    word-wrap: break-word;
    table-layout: inherit;
    width: 200px;
    height: 50px;
}

# Headers and footers

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


#wholepage {
    min-heigh: 100%;
    position: relative;
}
#wholepage {
    height: 100%;
}

#header {
    padding: 10px;
}

#content {
    padding: 10px;
    padding-bottom: 60px;
}

#footer {
    position: absolute;
    padding-bottom:60px;
}

.spacer {
    width: 100%;
}